{% extends "base.html" %}

{% block content %}

<style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    </style>
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                    {% if backButton == "/classifications" %}
                    src="{{ 'static/imagenet_subset/'+image_id }}"
                    {% else %}                    
                    src="{{ '../static/imagenet_subset/'+image_id }}"
                    {% endif %}
                    alt={{ image_id }}/>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <canvas id="classificationOutput"
                        style="width: 50%; margin: auto; padding: 20px;"></canvas>
                    <div class="align-items-center">
                        <h2 id="waitText"></h2>
                    </div>
                </div>

            </div> 
            {% if backButton == "/classifications" %}
            <!--Button for downloading the result-->
            <a class="btn btn-primary" href="{{"/download_scores?unique_id="+unique_id}}" download>Download
                classification scores</a>
            <!--Button for downloading the plot-->
            <a class="btn btn-primary" href="{{"/download_plot?unique_id="+unique_id}}"  download>Download
                plot</a>
            <a class="btn btn-primary" href="/classifications"
                role="button">Back</a>
            {% else %}
            <a class="btn btn-primary" href="/users_image"
                role="button">Back</a>
            {% endif %}
        </div>
    </div>
    {% if backButton == "/classifications" %}
    <script src="{{ "static/graph.js" }}" id="makeGraph" classification_scores="{{classification_scores}}"></script>
    <script>
        window.addEventListener('beforeunload', function (e) {
            // Send an AJAX request to notify the server
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{"/delete-content?unique_id="+unique_id}}', true);
            xhr.send();
        });
    </script>
    {% else %}
    <script src="{{ "../static/graph.js" }}" id="makeGraph" classification_scores="{{classification_scores}}"></script>
    {% endif %}
{% endblock %}